<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud es para un archivo o directorio existente, no reescribas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # De lo contrario, redirige todas las solicitudes a index.html
    RewriteRule ^ index.html [L]
</IfModule>
